*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

header {
    background-color: grey;
}

.container {
    justify-content: space-between;
}